Package: noclearhistory
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 0.1
Depends: firmware (>= 3.0), mobilesubstrate
Description: Don't allow clearing history
Name: NoClearHistory
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
